<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>书</title>
  <link rel="stylesheet" href="/vendor/css/book.css" type="text/css"/>
</head>
<body>
 <div class="book">
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="cover"></span>
  <span class="page"></span>
  <span class="cover turn"></span>
</div>
</body>
</html>