<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>大鱼吃小鱼</title>
  <script type="text/javascript" src="/assets/js/jquery-1.12.1.js"></script>
  <link rel="stylesheet" href="/vendor/css/fish.css" type="text/css"/>
</head>
<body>
  <div class="all_bg">
    <div id="allcanvas">
      <canvas id="canvas1"></canvas>
      <canvas id="canvas2"></canvas>
    </div>
<!--     <div class="start_bg">
    	<div class="start" id="start">START</div>
    </div> -->
  </div>
  <script type="text/javascript" src="/vendor/js/fish/main.js"></script>
  <script type="text/javascript" src="/vendor/js/fish/commonFunctions.js"></script>
  <script type="text/javascript" src="/vendor/js/fish/background.js"></script>
  <script type="text/javascript" src="/vendor/js/fish/ane.js"></script>
  <script type="text/javascript" src="/vendor/js/fish/fruit.js"></script>
  <script type="text/javascript" src="/vendor/js/fish/mom.js"></script>
  <script type="text/javascript" src="/vendor/js/fish/collision.js"></script>
  <script type="text/javascript" src="/vendor/js/fish/baby.js"></script>
  <script type="text/javascript" src="/vendor/js/fish/data.js"></script>
   <script type="text/javascript">
  	$(function(){
/*   		var setStart=function(){
  			var $bg=$(".start_bg");
  	  		var $st=$(".start");
  	  		var h=$(this).height();
  	  		var w=$(this).width();
  	  		$bg.css("width",w);
  	  		$bg.css("height",h);
  	  		
  	  		$st.css("top",h/2+100);
  	  		$st.css("left",w/2-76);
  		}
  		setStart();
  		$(window).resize(setStart);
  		
  		$("#start").on("click",function(){
  			$(".start_bg").css("display","none");
  			$("#allcanvas").css("display","block");
  			game();
  		}); */
  	});
  </script> 
</body>
</html>