<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>控件</title>
  <link rel="stylesheet" href="/vendor/css/widget/nav.css" type="text/css"/>
  <link rel="stylesheet" href="/vendor/css/widget/section.css" type="text/css"/>
  <link rel="stylesheet" href="/vendor/css/widget/icons.css" type="text/css"/>
</head>
<body>
 	<div class="left">
		<nav>
		<UL>
			<li class="var_nav">
				<div class="link_bg"></div>
				<div class="link_title">
					<div class=icon>
						<i class="icon-mobile-phone icon-2x"></i>
					</div>
					<a href="#"><span>About Us</span></a>
				</div>
			</li>
			<li class="var_nav">
				<div class="link_bg"></div>
				<div class="link_title">
					<div class=icon>
						<i class="icon-lightbulb icon-2x"></i>
					</div>
					<a href="#"><span>Ideas</span></a>
				</div>
			</li>
			<li class="var_nav">
				<div class="link_bg"></div>
				<div class="link_title">
					<div class=icon>
						<i class="icon-wrench icon-2x"></i>
					</div>
					<a href="#"><span>Services</span></a>
				</div>
			</li>
			<li class="var_nav">
				<div class="link_bg"></div>
				<div class="link_title">
					<div class=icon>
						<i class="icon-briefcase icon-2x"></i>
					</div>
					<a href="#"><span>Marketing</span></a>
				</div>
			</li>
		</UL>
		</nav>
		
	</div>
	
	<div class="right">
		<section>
		<div id="icon-wrapper">
			<a href="#">
				<div class="icons">
					<div class="icon-slide-container">
						<img class="slide-icon" alt="The Kite Map Logo" height="100"
							src="/vendor/images/icons/view-map.jpg">
					</div>
				</div>
			</a> 
			<a href="#">
				<div class="icons2">
					<div class="icon-slide-container">
						<img class="slide-icon" alt="The Kite Map Logo" height="100"
							src="/vendor/images/icons/view-map.jpg">
					</div>
				</div>
			</a> 
			<a href="#">
				<div class="icons3">
					<div class="icon-slide-container">
						<img class="slide-icon" alt="The Kite Map Logo" height="100"
							src="/vendor/images/icons/view-map.jpg">
					</div>
				</div>
			</a> <a href="feedback.html">
				<div class="icons4">
					<div class="icon-slide-container">
						<img class="slide-icon" alt="The Kite Map Logo" height="100"
							src="/vendor/images/icons/view-map.jpg">
					</div>
				</div>
			</a>
		</div>
		</section>
	</div>
	
	<div class="wrapper">
	  <div class="social">&#62220;</div>
	  <div class="social">&#62217;</div>
	  <div class="social">&#62223;</div>
	  <div class="social">&#62232;</div>
	  <div class="social">&#62235;</div>
	  <div class="social">&#62226;</div>
	  <div class="social">&#62214;</div>
	</div>
</body>
</html>